.greenn{
    background-color: #1572e8;
}

.id_testing{
    color: #1572e8;
    text-align: center;
    background-color: #000000;
}
.prueba11{
    text-align: center;
    background-color: #1572e8;
    
}